# PyCharm
.idea/
*.iml

# Python
.venv/
__pycache__/
*.pyc

# Environment
.env

# DuckDB
*.db
*.db.wal

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/.user.yml

# OS
.DS_Store
Thumbs.db
